
<div class="page page-profile">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-profile">
                <div class="panel-heading text-center bg-warning">
                    <img alt="" src="images/lemmy.1.jpg" class="img-circle img80_80">
                    <h3>{{main.name}}</h3>
                    <p>{{main.title}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile Info</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>User name</label>
                                    {{main.name}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                    lemmy@hotmail.com
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-home"></span>
                                    <label>Address</label>
                                    145 Metal Ave., London, UK
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>Contact</label>
                                    (+012) 345 6789
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Nationality</label>
                                    Fucking English
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>