        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <!--<li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>-->
        <li>
            <a href="#/apps"><i class="fa fa-bar-chart-o"></i><span data-i18n="Apps"></span></a>
            <ul>
                <li ng-repeat="app in apps"><a ng-href="#/apps/{{app.name}}"><i class="fa fa-caret-right"></i><span data-i18n="{{app.name}}"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/apps/create"><i class="fa fa-plus"></i><span data-i18n="Create App"></span></a>
        </li>
    </ul>
</div>
